.header {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 29px;
  font-size: 3em;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
