.list {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 650px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.list h1 {
  color: gray;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
