.item {
  width: 100%; /* Make it responsive */
  max-width: 650px; /* Limit the width */
  color: black;
  font-size: 16px; /* Smaller font size for simplicity */
  margin: 0 auto;
  padding: 10px;
  word-wrap: break-word;
}

.itemName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal; /* Lighter weight for a clean look */
  padding: 5px 0;
}

.line {
  border: 1px solid #ddd; /* Subtle line */
  margin-top: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.checkbox {
  width: 16px; /* Smaller checkbox */
  height: 16px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.deleteButton {
  padding: 8px 15px;
  border: none;
  background-color: red; /* Red for delete button */
  color: white;
  border-radius: 4px;
  font-size: 14px; /* Smaller font size for buttons */
  cursor: pointer;
}

.editInput {
  font-size: 16px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  min-width: 120px;
}

.editButton {
  height: 30px;
  padding: 5px 10px;
  border: none;
  background-color: yellow; /* Yellow for edit button */
  color: black;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.saveButton {
  height: 30px;
  padding: 5px 10px;
  border: none;
  background-color: #28a745; /* Green for save button */
  color: white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.itemName span {
  display: block;
  max-width: calc(100% - 50px);
  overflow: hidden;
  text-overflow: ellipsis; /* Prevent text from overflowing */
  white-space: nowrap; /* Prevent wrapping */
}
