.list {
  background-color: #f9f9f9; /* Light gray background for simplicity */
  border-radius: 5px; /* Slightly rounded corners */
  border: 1px solid #ddd; /* Subtle border for definition */
  padding: 20px;
  width: 100%; /* Responsive width */
  max-width: 650px; /* Max width for consistency */
  margin: 30px auto; /* Centered list with space at the top and bottom */
}

.list h1 {
  color: #000000; /* Dark gray for the heading */
  font-size: 20px; /* Reduced font size */
  font-weight: normal; /* Lighter font weight */
  text-align: center;
}
